# ignore downloaded FreeBSD source and port tree
poudriere.etc/poudriere.d/jails/
poudriere.etc/poudriere.d/ports/
EINE/local.data
EINE/DEMO.data/GeoLite2-City.mmdb
EINE/DEMO.data/GeoLite2-City.mmdb.gz
