# ignore downloaded FreeBSD source and porttree
BSDRP/FreeBSD
BSDRPcur/FreeBSD
BSDRProuting/FreeBSD
TESTING/FreeBSD
TESTING/Files
BSDMC/FreeBSD
EINE/FreeBSD
EINE/local.data
EINE/DEMO.data/GeoLite2-City.mmdb
EINE/DEMO.data/GeoLite2-City.mmdb.gz
