# ignore downloaded FreeBSD source and port tree
poudriere.etc/poudriere.d/jails/
poudriere.etc/poudriere.d/ports/
# ignore arch-dependent generated config file
poudriere.etc/poudriere.d/BSDRPj-src.conf
.claude/settings.local.json
