domain=eine.bsdrp.net
# Don't read the hostnames in /etc/hosts
no-hosts
# Excluding "internet" facing interface
except-interface=net0
# Only bound to "internal" interfaces
interface=net1
interface=wlan0
dhcp-range={{if_lan_inet4_dhcp_start}},{{if_lan_inet4_dhcp_end}}
dhcp-range={{if_wifi_inet4_dhcp_start}},{{if_wifi_inet4_dhcp_end}}
# Accept DNS queries only from hosts whose address is on a local subnet
local-service
# Only DHCP server on a network: allows new hosts to get a lease without a tedious timeout under all circumstances
dhcp-authoritative
# Disable negative caching
no-negcache
## DHCP option to send (0.0.0.0 = myself)
# option ip-forwarding off
dhcp-option=19,0
# set netbios-over-TCP/IP nameserver(s) aka WINS server(s)
#dhcp-option=44,0.0.0.0
# Set netbios node type
# These are the node types for netbios options:
# 1 = B-node, 2 = P-node, 4 =M-node, 8 = H-node
# option netbios-node-type 8; # default
# B-node: Uses IP broadcast messages to register and resolve NetBIOS names to IP addresses
# P-node: Uses point-to-point communication with a NetBIOS name server (in Windows 2000 based networks, this is the WINS server) to register and resolve computer names to IP addresses
# M-node: Uses a mix of B-node and P-node communication to register and resolve NetBIOS names. M-node first uses broadcast resolution; then, if necessary, it uses a server query.
# H-node: Uses a hybrid of B-node and P-node. An H-node computer always tries a server query first and uses broadcasts only if direct queries fail.
dhcp-option=46,8
# empty netbios scope.
dhcp-option=47
# Tell MS Windows to release a lease on shutdown
dhcp-option=vendor:MSFT,2,1i
# allow Windows clients to update Active Directory servers
dhcp-client-update
# Give DNS server to DHCP client: Internal DNS first, then myself at last
# MS Window AD clients need register themself directly to the AD-DNS and
# can't use the dnsmasq DNS cache.
# If the ovpn tunnel go down, we allow to use itself (then DHCP learned ISP DNS)
# This line will be added at the end by role manager script
#dhcp-option=6,10.0.12.2,10.0.23.2,0.0.0.0
# But with multiple DNS configured on MS Windows, if no answer in 1 second
#  it will query ALL configured DNS (including the third and public one).
#  cf: https://technet.microsoft.com/en-us/library/dd197552%28WS.10%29.aspx
#  This will leak internal information and create Windows DNS cache problem
#  For avoiding this, we force dnsmasq to use only private DNS (resolvconf file generated by ovpn-if.sh script)
#   and only if they failed, internet interface DNS (resolvconf file generated by dhcpd for net0 interface)
# forces dnsmasq to try each query with each server strictly in the order they appear in resolv.conf
strict-order
# Whenever resolv.conf is re-read, clear the DNS cache
clear-on-reload
# Multiple resolv config files, it will use the most recent
resolv-file=/var/run/resolvconf/interfaces/tun0
resolv-file=/var/run/resolvconf/interfaces/net0
# This servers conf file is generated by openvpn-if-up script
# it add somes "server=/internal-domain/DNS-ip" lines
# but it need a SIGUP for reloading this file
servers-file=/var/run/ovpnif-dnsmasq.conf
domain=eine.bsdrp.net
# Don't read the hostnames in /etc/hosts
no-hosts
# Excluding "internet" facing interface
except-interface=net0
# Only bound to "internal" interfaces
interface=net1
interface=wlan0
dhcp-range={{if_lan_inet4_dhcp_start}},{{if_lan_inet4_dhcp_end}}
dhcp-range={{if_wifi_inet4_dhcp_start}},{{if_wifi_inet4_dhcp_end}}
# Accept DNS queries only from hosts whose address is on a local subnet
local-service
# Only DHCP server on a network: allows new hosts to get a lease without a tedious timeout under all circumstances
dhcp-authoritative
# Disable negative caching
no-negcache
## DHCP option to send (0.0.0.0 = myself)
# option ip-forwarding off
dhcp-option=19,0
# set netbios-over-TCP/IP nameserver(s) aka WINS server(s)
#dhcp-option=44,0.0.0.0
# Set netbios node type
# These are the node types for netbios options:
# 1 = B-node, 2 = P-node, 4 =M-node, 8 = H-node
# option netbios-node-type 8; # default
# B-node: Uses IP broadcast messages to register and resolve NetBIOS names to IP addresses
# P-node: Uses point-to-point communication with a NetBIOS name server (in Windows 2000 based networks, this is the WINS server) to register and resolve computer names to IP addresses
# M-node: Uses a mix of B-node and P-node communication to register and resolve NetBIOS names. M-node first uses broadcast resolution; then, if necessary, it uses a server query.
# H-node: Uses a hybrid of B-node and P-node. An H-node computer always tries a server query first and uses broadcasts only if direct queries fail.
dhcp-option=46,8
# empty netbios scope.
dhcp-option=47
# Tell MS Windows to release a lease on shutdown
dhcp-option=vendor:MSFT,2,1i
# allow Windows clients to update Active Directory servers
dhcp-client-update
# Give DNS server to DHCP client: Internal DNS first, then myself at last
# MS Window AD clients need register themself directly to the AD-DNS and
# can't use the dnsmasq DNS cache.
# If the ovpn tunnel go down, we allow to use itself (then DHCP learned ISP DNS)
dhcp-option=6,10.0.12.2,10.0.23.2,0.0.0.0
# But with multiple DNS configured on MS Windows, if no answer in 1 second
#  it will query ALL configured DNS (including the third and public one).
#  cf: https://technet.microsoft.com/en-us/library/dd197552%28WS.10%29.aspx
#  This will leak internal information and create Windows DNS cache problem
#  For avoiding this, we force dnsmasq to use only private DNS (resolvconf file generated by ovpn-if.sh script)
#   and only if they failed, internet interface DNS (resolvconf file generated by dhcpd for net0 interface)
# forces dnsmasq to try each query with each server strictly in the order they appear in resolv.conf
strict-order
# Whenever resolv.conf is re-read, clear the DNS cache
clear-on-reload
# Multiple resolv config files, it will use the most recent
resolv-file=/var/run/resolvconf/interfaces/tun0
resolv-file=/var/run/resolvconf/interfaces/net0
# This servers conf file is generated by openvpn-if-up script
# it add somes "server=/internal-domain/DNS-ip" lines
# but it need a SIGUP for reloading this file
servers-file=/var/run/ovpnif-dnsmasq.conf
# Don't read the hostnames in /etc/hosts
no-hosts
# Excluding "internet" facing interface
except-interface=net0
# Only bound to "internal" interfaces
interface=net1
interface=wlan0
dhcp-range={{if_lan_inet4_dhcp_start}},{{if_lan_inet4_dhcp_end}}
dhcp-range={{if_wifi_inet4_dhcp_start}},{{if_wifi_inet4_dhcp_end}}
# Accept DNS queries only from hosts whose address is on a local subnet
local-service
# Only DHCP server on a network: allows new hosts to get a lease without a tedious timeout under all circumstances
dhcp-authoritative
# Disable negative caching
no-negcache
## DHCP option to send (0.0.0.0 = myself)
# option ip-forwarding off
dhcp-option=19,0
# set netbios-over-TCP/IP nameserver(s) aka WINS server(s)
#dhcp-option=44,0.0.0.0
# Set netbios node type
# These are the node types for netbios options:
# 1 = B-node, 2 = P-node, 4 =M-node, 8 = H-node
# option netbios-node-type 8; # default
# B-node: Uses IP broadcast messages to register and resolve NetBIOS names to IP addresses
# P-node: Uses point-to-point communication with a NetBIOS name server (in Windows 2000 based networks, this is the WINS server) to register and resolve computer names to IP addresses
# M-node: Uses a mix of B-node and P-node communication to register and resolve NetBIOS names. M-node first uses broadcast resolution; then, if necessary, it uses a server query.
# H-node: Uses a hybrid of B-node and P-node. An H-node computer always tries a server query first and uses broadcasts only if direct queries fail.
dhcp-option=46,8
# empty netbios scope.
dhcp-option=47
# Tell MS Windows to release a lease on shutdown
dhcp-option=vendor:MSFT,2,1i
# allow Windows clients to update Active Directory servers
dhcp-client-update
# Give DNS server to DHCP client: Internal DNS first, then myself at last
# MS Window AD clients need register themself directly to the AD-DNS and
# can't use the dnsmasq DNS cache.
# If the ovpn tunnel go down, we allow to use itself (then DHCP learned ISP DNS)
dhcp-option=6,10.0.12.2,10.0.23.2,0.0.0.0
# But with multiple DNS configured on MS Windows, if no answer in 1 second
#  it will query ALL configured DNS (including the third and public one).
#  cf: https://technet.microsoft.com/en-us/library/dd197552%28WS.10%29.aspx
#  This will leak internal information and create Windows DNS cache problem
#  For avoiding this, we force dnsmasq to use only private DNS (resolvconf file generated by ovpn-if.sh script)
#   and only if they failed, internet interface DNS (resolvconf file generated by dhcpd for net0 interface)
# forces dnsmasq to try each query with each server strictly in the order they appear in resolv.conf
strict-order
# Whenever resolv.conf is re-read, clear the DNS cache
clear-on-reload
# Multiple resolv config files, it will use the most recent
resolv-file=/var/run/resolvconf/interfaces/tun0
resolv-file=/var/run/resolvconf/interfaces/net0
# This servers conf file is generated by openvpn-if-up script
# it add somes "server=/internal-domain/DNS-ip" lines
# but it need a SIGUP for reloading this file
servers-file=/var/run/ovpnif-dnsmasq.conf
# The domain entry will be added by role manager scrip
# domain=eine.bsdrp.net
