#!/bin/sh
# Configuration example for forwarding/routing performance with netmap pkt-gen:
#
#            ------admin network: 192.168.1.0/24 (ssh)----------
#              | .1                                         | .2
#+-----------------------------------+      +----------------------------------+
#|   Packet generator and receiver   |      |         Device under Test        |
#|                                   |      |                                  |
#| ix0: 8.8.8.1 (a0:36:9f:1e:1e:d8)  |=====>| ix0: 8.8.8.2 (a0:36:9f:1e:28:14) |
#|                                   |      |                                  |
#| ix1: 9.9.9.1 (a0:36:9f:1e:1e:da)  |<=====| ix1: 9.9.9.2 (a0:36:9f:1e:28:16) |
#|                                   |      |                                  |
#|                                   |      |        static routes             |
#|                                   |      |      8.0.0.0/8 => 8.8.8.1        |
#|                                   |      |      9.0.0.0/8 => 9.9.9.1        |
#+-----------------------------------+      +----------------------------------+
# Admin network IP
SENDER_ADMIN="192.168.1.1"
RECEIVER_ADMIN="192.168.1.1"
DUT_ADMIN="192.168.1.2"

# LAB network IP and data
SENDER_LAB_IP="8.8.8.1"
RECEIVER_LAB_IP="9.9.9.1"

#netmap pkt-gen need these information:
SENDER_LAB_IF="ix0"
SENDER_LAB_IF_MAC="a0:36:9f:1e:1e:d8"
RECEIVER_LAB_IF="ix1"
RECEIVER_LAB_IF_MAC="a0:36:9f:1e:1e:da"
DUT_LAB_IF_MAC_SENDER_SIDE="a0:36:9f:1e:28:14"
DUT_LAB_IF_MAC_RECEIVER_SIDE="a0:36:9f:1e:28:16"
#Generate about 2000 flows (100 src * 20 dest)
SENDER_LAB_NET="8.1.1.1:2000-8.1.1.20"
RECEIVER_LAB_NET="9.1.1.1:2000-9.1.1.100"
PKT_TO_SEND="1000000000"

#Timeout : Number of seconds / 5 to wait before declaring a problem for DUT rebooting process
REBOOT_TIMEOUT=120

#Is DUT online: Test command
IS_DUT_ONLINE_TARGET=${DUT_ADMIN}
IS_DUT_ONLINE_CMD="ping -c 2 ${RECEIVER_LAB_IP}"

#Bench commands
RECEIVER_START_CMD="pkt-gen -f rx -i ${RECEIVER_LAB_IF} -w 4"
RECEIVER_STOP_CMD="pkill pkt-gen"
SENDER_START_CMD="pkt-gen -f tx -i ${SENDER_LAB_IF} -n ${PKT_TO_SEND} -l 60 \
        -d ${RECEIVER_LAB_NET} -D ${DUT_LAB_IF_MAC_SENDER_SIDE} -s ${SENDER_LAB_NET} \
        -w 4"
