#!/bin/sh
# Configuration example for forwarding/routing performance with netmap pkt-gen:
#            -------------------admin network: 192.168.1.0/24 (ssh)-------------------
#              | .1                          | .2                                  |.3
#+-------------------+      +----------------------------------------+      +-------------------+
#| Packet generator  |      |            Device under Test           |      |  Packet receiver  |
#|   igb2: 1.1.1.1   |      | igb2: 1.1.1.2            igb3: 2.2.2.2 |      |   igb3: 2.2.2.3   |
#| 00:1b:21:d4:3f:2a |      | 00:1b:21:d3:8f:3e    00:1b:21:d3:8f:3f |      | 00:1b:21:c4:95:7b |
#|                   |=====>|                                        |=====>|                   |
#|  static routes    |      |              static routes             |      |   static route    |
#| default=> 1.1.1.2 |      |         1.0.0.0/8 => 1.1.1.1           |      | default=> 2.2.2.2 |
#|                   |      |         2.0.0.0/8 => 2.2.2.3           |      |                   |
#+-------------------+      +----------------------------------------+      +-------------------+

# Admin network IP
SENDER_ADMIN="192.168.1.1"
RECEIVER_ADMIN="192.168.1.3"
DUT_ADMIN="192.168.1.2"

# LAB network IP and data
SENDER_LAB_IP="1.1.1.1"
RECEIVER_LAB_IP="2.2.2.3"

#netmap pkt-gen need these information:
SENDER_LAB_IF="igb2"
SENDER_LAB_IF_MAC="00:1b:21:d4:3f:2a"
RECEIVER_LAB_IF="igb3"
RECEIVER_LAB_IF_MAC="00:1b:21:c4:95:7b"
DUT_LAB_IF_MAC_SENDER_SIDE="00:1b:21:d3:8f:3e"
DUT_LAB_IF_MAC_RECEIVER_SIDE="00:1b:21:d3:8f:3f"
#Right-now, pkt-gen didn't support src/dst IP range, just src/dst port range
SENDER_LAB_NET="1.3.3.1"
RECEIVER_LAB_NET="2.3.3.1:2000-2.3.3.1:4000"
PKT_TO_SEND="100000000"

#Timeout : Number of seconds / 5 to wait before declaring a problem for DUT rebooting process
REBOOT_TIMEOUT=120

#Is DUT forwarding: Test command
IS_DUT_ONLINE_TARGET=${SENDER_ADMIN}
IS_DUT_ONLINE_CMD="ping -c 2 ${RECEIVER_LAB_IP}"

#Bench commands
RECEIVER_START_CMD="pkt-gen -f rx -i ${RECEIVER_LAB_IF} -w 8"
RECEIVER_STOP_CMD="pkill pkt-gen"
SENDER_START_CMD="pkt-gen -f tx -i ${SENDER_LAB_IF} -n ${PKT_TO_SEND} -l 60 \
        -d ${RECEIVER_LAB_NET} -D ${DUT_LAB_IF_MAC_SENDER_SIDE} -s ${SENDER_LAB_NET} \
        -w 4"
