Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
StrictModes yes
KexAlgorithms curve25519-sha256@libssh.org
Ciphers aes256-gcm@openssh.com
UsePrivilegeSeparation sandbox
UseDNS no
PermitEmptyPasswords no
PermitRootLogin no
PermitUserEnvironment no
AllowTcpForwarding no
X11Forwarding no
ClientAliveInterval 120
ClientAliveCountMax 2
ChallengeResponseAuthentication no
PasswordAuthentication no
UsePAM no
Subsystem       sftp    /usr/libexec/sftp-server
#Others variables added by the build script:
#AllowUsers ${ADMIN_USERNAME}
#Port ${SSH_PORT} 
